::-webkit-scrollbar {
    width: 10px;
  }

@font-face {
    font-family: windowsxp;
    src: url('../msdos_font/windows-xp-tahoma.ttf') format('truetype');
}


body {
    width: 100%;
    background-color: #658147;
}


.top-banner{
    
    border-style: solid;
    border-width: 3px;
    background-color: #E7F0DC;
    width: 825px;
    height: 150px;
    margin: 30px;
    border-color: #405530;
    border-style: outset;
    border-width: 6px;
}


.main-container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.main-page{

    border-style: solid;
    border-color: #597445;
    border-width: 3px;
    background-color: #E7F0DC;
    width: 600px;
    height: 700px;
    border-style: outset;
    border-width: 6px;
}

.left-buttons{

    border-style: solid;
    border-color: #597445;
    border-width: 3px;
    background-color: #E7F0DC;
    width: 200px;
    height: 700px;
    border-style: outset;
    border-width: 6px;
}

@media (max-width: 750px) {

    .top-banner {
        
        border-style: solid;
        border-color: #597445;
        border-width: 3px;
        background-color: #E7F0DC;
        width: 335px;
        height: 100px;
        margin: 10px;
        border-style: outset;
        border-width: 6px;
    }

    .main-page{

        border-style: solid;
        border-color: #597445;
        border-width: 3px;
        background-color: #E7F0DC;
        width: 230px;
        height: 440px;
        border-style: outset;
        border-width: 6px;
        
    }

    .left-buttons{

        border-style: solid;
        border-color: #597445;
        border-width: 3px;
        background-color: #E7F0DC;
        width: 75px;
        height: 440px;
        border-style: outset;
        border-width: 6px;

    }

}


@media (min-width: 1920px) {

    .top-container{

        display:flex;
        justify-content: center;
        align-items: center;

    }

    .top-banner {
        
        border-style: solid;
        border-color: #597445;
        border-width: 3px;
        background-color: #E7F0DC;
        width: 1000px;
        height: 200px;
        margin: 20px;
        border-style: outset;
        border-width: 6px;
    }
    
    .main-page{
    
        border-style: solid;
        border-color: #597445;
        border-width: 3px;
        background-color: #E7F0DC;
        width: 740px;
        height: 900px;
        border-style: outset;
        border-width: 6px;
        
    }
    
    .left-buttons{
    
        border-style: solid;
        border-color: #597445;
        border-width: 3px;
        background-color: #E7F0DC;
        width: 230px;
        height: 900px;
        border-style: outset;
        border-width: 6px;
    
    }
    
}

@media (max-width: 800px) {

    .top-container{

        display:flex;
        justify-content: center;
        align-items: center;
    }

    .top-banner {
        
        border-style: solid;
        border-color: #597445;
        border-width: 3px;
        background-color: #E7F0DC;
        width: 600px;
        height: 200px;
        margin: 20px;
        border-style: outset;
        border-width: 6px;
    }
    
    .main-page{
    
        border-style: solid;
        border-color: #597445;
        border-width: 3px;
        background-color: #E7F0DC;
        width: 380px;
        height: 700px;
        border-style: outset;
        border-width: 6px;
        
    }
    
    .left-buttons{
    
        border-style: solid;
        border-color: #597445;
        border-width: 3px;
        background-color: #E7F0DC;
        width: 200px;
        height: 700px;
        border-style: outset;
        border-width: 6px;
    
    }
    
}